* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  cursor: url("../assets/wheel.png") -1 0, pointer;
}

.bubble-page {
  background-color: E0DFEC;
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/*SPEECH STARTS HERE*/
.hi {
  text-decoration: none;
  color: black;
  margin: .1em;
  padding: 0;
  font-size: .7vw;
  letter-spacing: 0.1em;
  font-weight: bold;
}


/* SPEECH BUBBLES floating */
/*ANNIMATION*/
.bubbles-container1 {
  width: 10vw;
  height: 7vw;
  position: absolute;
  bottom: -30%;
  left: 0%;
  z-index: 2;
  /* animation: speech bubbles moving 5s infinite; */
}

.bubbles {
  background-color: #8A86F1;
  border-radius: 100% 100%;
  width: 20vw;
  height: 5vw;
  position: absolute;
  left: 0%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bubbles-move {

  0% {
    bottom: -17%;
  }

  10% {
    bottom: 10%;
  }

  100% {
    bottom: 117%;
  }
}

.bubbles-container1--1 {
  left: 12%;
  animation: bubbles-move 30s 0s infinite;
}

.bubbles-container1--2 {
  left: 65%;
  animation: bubbles-move 30s 3s infinite;
}

.bubbles-container1--3 {
  left: 65%;
  animation: bubbles-move 30s 6s infinite;
}

.bubbles-container1--4 {
  left: 12%;
  animation: bubbles-move 30s 9s infinite;
}

.bubbles-container1--5 {
  left: 12%;
  animation: bubbles-move 30s 12s infinite;
}

.bubbles-container1--6 {
  left: 12%;
  animation: bubbles-move 30s 15s infinite;
}

.bubbles-container1--7 {
  left: 12%;
  animation: bubbles-move 30s 18s infinite;
}

.bubbles-container1--8 {
  left: 12%;
  animation: bubbles-move 30s 21s infinite;
}

.bubbles-container1--9 {
  left: 65%;
  animation: bubbles-move 30s 24s infinite;
}

.bubbles-container1--10 {
  left: 65%;
  animation: bubbles-move 30s 27s infinite;
}
/*
.bubbles-container1--11 {
  left: 25%;
  animation: bubbles-move 6s 2s infinite;
}

.bubbles-container1--12 {
  left: 10%;
  animation: bubbles-move 12s 4s infinite;
}

.bubbles-container1--13 {
  left: 55%;
  animation: bubbles-move 6s 5s infinite;
}

.bubbles-container1--14 {
  left: 50%;
  animation: bubbles-move 12s 2s infinite;
}

.bubbles-container1--15 {
  left: 12%;
  animation: bubbles-move 5s 3s infinite;
}

.bubbles-container1--16 {
  left: 8%;
  animation: bubbles-move 10s 2s infinite;
}

.bubbles-container1--17 {
  left: 79%;
  animation: bubbles-move 19s 2s infinite;
}

.bubbles-container1--18 {
  left: 45%;
  animation: bubbles-move 13s 0s infinite;
}

.bubbles-container1--19 {
  left: 95%;
  animation: bubbles-move 6s 3s infinite;
}

.bubbles-container1--20 {
  left: 85%;
  animation: bubbles-move 9s 0s infinite;
}

.bubbles-container1--21 {
  left: 55%;
  animation: bubbles-move 12s 5s infinite;
}

.bubbles-container1--22 {
  left: 85%;
  animation: bubbles-move 18s 6s infinite;
}

.bubbles-container1--23 {
  left: 5%;
  animation: bubbles-move 20s 0s infinite;
}

.bubbles-container1--24 {
  left: 36%;
  animation: bubbles-move 8s 0s infinite;
}

.bubbles-container1--25 {
  left: 30%;
  animation: bubbles-move 13s 0s infinite;
}

.bubbles-container1--26 {
  left: 19%;
  animation: bubbles-move 6s 0s infinite;
}

.bubbles-container1--27 {
  left: 75%;
  animation: bubbles-move 6s 2s infinite;
}
/* SPEECH BUBBLES END */
